# .NET Core
bin/
obj/

# .NET Core SDK files
project.lock.json
project.fragment.lock.json
artifacts/

# .NET Core build outputs
output/

# ASP.NET temporary files
App_Data/

# User-specific files
.idea/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.appx
*.appxbundle
*.appxupload

# Logs
*.log

# Linux-specific
*.swp
*.swo
*~ 

# Mac-specific
.DS_Store

# JetBrains Rider
.idea/

# Windows Installer temporary files
*.cab
*.msi
*.msm
*.msp
